@import "tailwindcss";
@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Force default text color globally just in case */
body {
  @apply text-gray-900;
}